{"openapi":"3.1.0","info":{"title":"Lemma Platform API","description":"Lemma Platform HTTP API for AI observability and workspace operations.","version":"0.1.0"},"servers":[{"url":"https://api.uselemma.ai","description":"Lemma production API"}],"components":{"securitySchemes":{"bearerAuth":{"type":"http","scheme":"bearer"}}},"security":[{"bearerAuth":[]}],"paths":{"/projects":{"get":{"operationId":"list_projects","tags":["Projects"],"summary":"List projects","description":"Returns projects available to the authenticated tenant.","responses":{"200":{"description":"Projects list","content":{"application/json":{"schema":{"type":"object","properties":{"projects":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string"},"name":{"type":"string"},"description":{"type":["string","null"]},"sort_order":{"type":"number"},"created_at":{"type":["string","null"],"format":"date-time"},"updated_at":{"type":["string","null"],"format":"date-time"}},"required":["id","name","description","sort_order","created_at","updated_at"],"additionalProperties":false}}},"required":["projects"],"additionalProperties":false}}}},"404":{"description":"Not found","content":{"application/json":{"schema":{"type":"object","properties":{"detail":{"type":"string"}},"required":["detail"],"additionalProperties":false}}}}}},"post":{"operationId":"create_project","tags":["Projects"],"summary":"Create project","description":"Create a project for the authenticated tenant.","requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","required":["name"],"properties":{"name":{"type":"string"},"description":{"type":["string","null"]}},"additionalProperties":false}}}},"responses":{"201":{"description":"Project created","content":{"application/json":{"schema":{"type":"object","properties":{"id":{"type":"string"},"name":{"type":"string"},"description":{"type":["string","null"]},"sort_order":{"type":"number"},"created_at":{"type":["string","null"],"format":"date-time"},"updated_at":{"type":["string","null"],"format":"date-time"}},"required":["id","name","description","sort_order","created_at","updated_at"],"additionalProperties":false}}}},"400":{"description":"Bad request","content":{"application/json":{"schema":{"type":"object","properties":{"detail":{"type":"string"}},"required":["detail"],"additionalProperties":false}}}}}}},"/projects/reorder":{"post":{"operationId":"reorder_projects","tags":["Projects"],"summary":"Reorder projects","description":"Persist project ordering for the authenticated tenant.","requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","required":["ordered_ids"],"properties":{"ordered_ids":{"type":"array","items":{"type":"string"}},"orderedIds":{"type":"array","items":{"type":"string"}}},"additionalProperties":false}}}},"responses":{"204":{"description":"Projects reordered"},"400":{"description":"Bad request","content":{"application/json":{"schema":{"type":"object","properties":{"detail":{"type":"string"}},"required":["detail"],"additionalProperties":false}}}}}}},"/projects/{project_id}":{"get":{"operationId":"get_project","tags":["Projects"],"summary":"Get project","description":"Returns a single project if it belongs to the authenticated tenant.","parameters":[{"name":"project_id","in":"path","required":true,"description":"Project ID.","schema":{"type":"string"}}],"responses":{"200":{"description":"Project","content":{"application/json":{"schema":{"type":"object","properties":{"id":{"type":"string"},"name":{"type":"string"},"description":{"type":["string","null"]},"sort_order":{"type":"number"},"created_at":{"type":["string","null"],"format":"date-time"},"updated_at":{"type":["string","null"],"format":"date-time"}},"required":["id","name","description","sort_order","created_at","updated_at"],"additionalProperties":false}}}},"404":{"description":"Not found","content":{"application/json":{"schema":{"type":"object","properties":{"detail":{"type":"string"}},"required":["detail"],"additionalProperties":false}}}}}},"patch":{"operationId":"update_project","tags":["Projects"],"summary":"Update project","description":"Update a project for the authenticated tenant.","parameters":[{"name":"project_id","in":"path","required":true,"description":"Project ID.","schema":{"type":"string"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","required":["name"],"properties":{"name":{"type":"string"},"description":{"type":["string","null"]}},"additionalProperties":false}}}},"responses":{"200":{"description":"Updated project","content":{"application/json":{"schema":{"type":"object","properties":{"id":{"type":"string"},"name":{"type":"string"},"description":{"type":["string","null"]},"sort_order":{"type":"number"},"created_at":{"type":["string","null"],"format":"date-time"},"updated_at":{"type":["string","null"],"format":"date-time"}},"required":["id","name","description","sort_order","created_at","updated_at"],"additionalProperties":false}}}},"400":{"description":"Bad request","content":{"application/json":{"schema":{"type":"object","properties":{"detail":{"type":"string"}},"required":["detail"],"additionalProperties":false}}}},"404":{"description":"Not found","content":{"application/json":{"schema":{"type":"object","properties":{"detail":{"type":"string"}},"required":["detail"],"additionalProperties":false}}}}}}},"/projects/{project_id}/metric-event-counts":{"get":{"operationId":"get_metric_event_counts","tags":["Projects"],"summary":"Get project metric event counts","description":"Returns metric event counts for a project.","parameters":[{"name":"project_id","in":"path","required":true,"description":"Project ID.","schema":{"type":"string"}}],"responses":{"200":{"description":"Metric event counts","content":{"application/json":{"schema":{"type":"object","properties":{"counts":{"type":"object","additionalProperties":{"type":"number"}}},"required":["counts"],"additionalProperties":false}}}},"404":{"description":"Not found","content":{"application/json":{"schema":{"type":"object","properties":{"detail":{"type":"string"}},"required":["detail"],"additionalProperties":false}}}}}}},"/projects/{project_id}/analytics":{"get":{"operationId":"get_project_analytics","tags":["Projects"],"summary":"Get project analytics","description":"Returns request/error/speed/token timeseries + top models for a project over a time range.","parameters":[{"name":"project_id","in":"path","required":true,"description":"Project ID.","schema":{"type":"string"}}],"responses":{"200":{"description":"Project analytics","content":{"application/json":{"schema":{"type":"object","properties":{"requests":{"type":"array","items":{"type":"object","properties":{"date":{"type":"string"},"value":{"type":"number"}},"required":["date","value"],"additionalProperties":false}},"errors":{"type":"array","items":{"type":"object","properties":{"date":{"type":"string"},"value":{"type":"number"}},"required":["date","value"],"additionalProperties":false}},"speed":{"type":"array","items":{"type":"object","properties":{"date":{"type":"string"},"value":{"type":"number"}},"required":["date","value"],"additionalProperties":false}},"prompt_tokens":{"type":"array","items":{"type":"object","properties":{"date":{"type":"string"},"value":{"type":"number"}},"required":["date","value"],"additionalProperties":false}},"completion_tokens":{"type":"array","items":{"type":"object","properties":{"date":{"type":"string"},"value":{"type":"number"}},"required":["date","value"],"additionalProperties":false}},"top_models":{"type":"array","items":{"type":"object","properties":{"model":{"type":"string"},"count":{"type":"number"}},"required":["model","count"],"additionalProperties":false}},"speed_percentiles_timeseries":{"type":"array","items":{"type":"object","properties":{"date":{"type":"string"},"p50":{"type":"number"},"p95":{"type":"number"},"p99":{"type":"number"}},"required":["date","p50","p95","p99"],"additionalProperties":false}},"totals":{"type":"object","properties":{"requests":{"type":"number"},"errors":{"type":"number"},"avg_speed":{"type":"number"},"prompt_tokens":{"type":"number"},"completion_tokens":{"type":"number"},"speed_percentiles":{"type":"object","properties":{"p50":{"type":"number"},"p95":{"type":"number"},"p99":{"type":"number"}},"required":["p50","p95","p99"],"additionalProperties":false}},"required":["requests","errors","avg_speed","prompt_tokens","completion_tokens","speed_percentiles"],"additionalProperties":false}},"required":["requests","errors","speed","prompt_tokens","completion_tokens","top_models","speed_percentiles_timeseries","totals"],"additionalProperties":false}}}},"400":{"description":"Bad request","content":{"application/json":{"schema":{"type":"object","properties":{"detail":{"type":"string"}},"required":["detail"],"additionalProperties":false}}}},"404":{"description":"Not found","content":{"application/json":{"schema":{"type":"object","properties":{"detail":{"type":"string"}},"required":["detail"],"additionalProperties":false}}}}}}},"/projects/{project_id}/model-scorecard":{"get":{"operationId":"get_project_model_scorecard","tags":["Projects"],"summary":"Get project model scorecard","description":"Returns per-model trace/token/speed aggregates for a project.","parameters":[{"name":"project_id","in":"path","required":true,"description":"Project ID.","schema":{"type":"string"}}],"responses":{"200":{"description":"Model scorecard","content":{"application/json":{"schema":{"type":"object","properties":{"rows":{"type":"array","items":{"type":"object","properties":{"model":{"type":"string"},"traces":{"type":"number"},"tokens":{"type":"number"},"avg_speed":{"type":"number"}},"required":["model","traces","tokens","avg_speed"],"additionalProperties":false}}},"required":["rows"],"additionalProperties":false}}}},"400":{"description":"Bad request","content":{"application/json":{"schema":{"type":"object","properties":{"detail":{"type":"string"}},"required":["detail"],"additionalProperties":false}}}},"404":{"description":"Not found","content":{"application/json":{"schema":{"type":"object","properties":{"detail":{"type":"string"}},"required":["detail"],"additionalProperties":false}}}}}}},"/projects/{project_id}/artifacts":{"get":{"operationId":"list_project_artifacts","tags":["Artifacts"],"summary":"List project artifacts","description":"Returns learn-agent and uploaded artifacts for a project, scoped to the selected agent.","parameters":[{"name":"project_id","in":"path","required":true,"description":"Project ID","schema":{"type":"string"}},{"name":"agent_name","in":"query","required":false,"description":"Optional agent name used to scope artifacts. Omit to select the most recently updated artifact agent.","schema":{"type":"string"}}],"responses":{"200":{"description":"Project artifacts","content":{"application/json":{"schema":{"type":"object","properties":{"selected_agent_name":{"type":["string","null"]},"agents":{"type":"array","items":{"type":"object","properties":{"agent_name":{"type":["string","null"]},"latest_version":{"type":["number","null"]},"updated_at":{"type":"string"}},"required":["agent_name","latest_version","updated_at"],"additionalProperties":false}},"learn_agent_artifact":{"type":["object","null"],"properties":{"version":{"type":"number"},"run_id":{"type":"string"},"agent_name":{"type":["string","null"]},"knowledge_md":{"type":"string"},"mermaid":{"type":"string"},"created_at":{"type":"string"},"updated_at":{"type":"string"}},"required":["version","run_id","agent_name","knowledge_md","mermaid","created_at","updated_at"],"additionalProperties":false},"uploaded_artifacts":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string"},"project_id":{"type":"string"},"agent_name":{"type":["string","null"]},"filename":{"type":"string"},"content_type":{"type":"string"},"size_bytes":{"type":"number"},"created_at":{"type":["string","null"],"format":"date-time"}},"required":["id","project_id","agent_name","filename","content_type","size_bytes","created_at"],"additionalProperties":false}}},"required":["selected_agent_name","agents","learn_agent_artifact","uploaded_artifacts"],"additionalProperties":false}}}},"404":{"description":"Not found","content":{"application/json":{"schema":{"type":"object","properties":{"detail":{"type":"string"}},"required":["detail"],"additionalProperties":false}}}}}},"post":{"operationId":"upload_project_artifact","tags":["Artifacts"],"summary":"Upload project artifact","description":"Upload an agent-scoped .txt or .md file (text/plain or text/markdown).","parameters":[{"name":"project_id","in":"path","required":true,"description":"Project ID","schema":{"type":"string"}},{"name":"agent_name","in":"query","required":false,"description":"Optional agent name to attach to this uploaded artifact.","schema":{"type":"string"}}],"requestBody":{"required":true,"content":{"multipart/form-data":{"schema":{"type":"object","required":["file"],"properties":{"file":{"type":"string","format":"binary"}}}}}},"responses":{"201":{"description":"Uploaded text artifact metadata","content":{"application/json":{"schema":{"type":"object","properties":{"id":{"type":"string"},"project_id":{"type":"string"},"agent_name":{"type":["string","null"]},"filename":{"type":"string"},"content_type":{"type":"string"},"size_bytes":{"type":"number"},"created_at":{"type":["string","null"],"format":"date-time"}},"required":["id","project_id","agent_name","filename","content_type","size_bytes","created_at"],"additionalProperties":false}}}},"400":{"description":"Bad request","content":{"application/json":{"schema":{"type":"object","properties":{"detail":{"type":"string"}},"required":["detail"],"additionalProperties":false}}}},"404":{"description":"Not found","content":{"application/json":{"schema":{"type":"object","properties":{"detail":{"type":"string"}},"required":["detail"],"additionalProperties":false}}}}}}},"/projects/{project_id}/artifacts/versions":{"get":{"operationId":"list_learn_agent_artifact_versions","tags":["Artifacts"],"summary":"List learn-agent artifact versions","description":"Returns learn-agent KB version metadata for a project and agent, newest first. The response omits artifact content.","parameters":[{"name":"project_id","in":"path","required":true,"description":"Project ID","schema":{"type":"string"}},{"name":"agent_name","in":"query","required":false,"description":"Optional agent name used to scope learn-agent artifacts. Empty selects untagged artifacts.","schema":{"type":"string"}}],"responses":{"200":{"description":"Learn-agent artifact versions","content":{"application/json":{"schema":{"type":"array","items":{"type":"object","properties":{"version":{"type":"number"},"run_id":{"type":"string"},"agent_name":{"type":["string","null"]},"created_at":{"type":"string"},"updated_at":{"type":"string"}},"required":["version","run_id","agent_name","created_at","updated_at"],"additionalProperties":false}}}}},"404":{"description":"Not found","content":{"application/json":{"schema":{"type":"object","properties":{"detail":{"type":"string"}},"required":["detail"],"additionalProperties":false}}}}}}},"/projects/{project_id}/artifacts/versions/{version}":{"get":{"operationId":"get_learn_agent_artifact_version","tags":["Artifacts"],"summary":"Get learn-agent artifact version","description":"Returns the learn-agent KB content and metadata for a specific project, agent, and version.","parameters":[{"name":"project_id","in":"path","required":true,"description":"Project ID","schema":{"type":"string"}},{"name":"version","in":"path","required":true,"description":"Learn-agent artifact version","schema":{"type":"string"}},{"name":"agent_name","in":"query","required":false,"description":"Optional agent name used to scope learn-agent artifacts. Empty selects untagged artifacts.","schema":{"type":"string"}}],"responses":{"200":{"description":"Learn-agent artifact version","content":{"application/json":{"schema":{"type":"object","properties":{"version":{"type":"number"},"run_id":{"type":"string"},"agent_name":{"type":["string","null"]},"knowledge_md":{"type":"string"},"mermaid":{"type":"string"},"created_at":{"type":"string"},"updated_at":{"type":"string"}},"required":["version","run_id","agent_name","knowledge_md","mermaid","created_at","updated_at"],"additionalProperties":false}}}},"400":{"description":"Bad request","content":{"application/json":{"schema":{"type":"object","properties":{"detail":{"type":"string"}},"required":["detail"],"additionalProperties":false}}}},"404":{"description":"Not found","content":{"application/json":{"schema":{"type":"object","properties":{"detail":{"type":"string"}},"required":["detail"],"additionalProperties":false}}}}}}},"/projects/{project_id}/artifacts/regenerate":{"post":{"operationId":"regenerate_project_artifacts","tags":["Artifacts"],"summary":"Regenerate project artifacts","description":"Starts the learn-agent workflow for a tenant-owned project and optional agent. Duplicate project+agent triggers within the dedupe window return the same workflow_id; clients should poll list_project_artifacts for a new latest_version or learn_agent_artifact version to observe completion.","parameters":[{"name":"project_id","in":"path","required":true,"description":"Project ID","schema":{"type":"string"}},{"name":"agent_name","in":"query","required":false,"description":"Optional agent name used to scope the regenerated learn-agent artifacts.","schema":{"type":"string"}}],"responses":{"200":{"description":"Learn-agent workflow trigger handle","content":{"application/json":{"schema":{"type":"object","properties":{"workflow_id":{"type":"string"},"project_id":{"type":"string"},"agent_name":{"type":["string","null"]}},"required":["workflow_id","project_id","agent_name"],"additionalProperties":false}}}},"404":{"description":"Not found","content":{"application/json":{"schema":{"type":"object","properties":{"detail":{"type":"string"}},"required":["detail"],"additionalProperties":false}}}}}}},"/projects/{project_id}/artifacts/{artifact_id}/content":{"get":{"operationId":"get_project_artifact_content","tags":["Artifacts"],"summary":"Get uploaded project artifact content","description":"Returns stored text content and metadata for one uploaded text artifact.","parameters":[{"name":"project_id","in":"path","required":true,"description":"Project ID","schema":{"type":"string"}},{"name":"artifact_id","in":"path","required":true,"description":"Uploaded artifact ID","schema":{"type":"string"}}],"responses":{"200":{"description":"Uploaded text artifact content","content":{"application/json":{"schema":{"type":"object","properties":{"id":{"type":"string"},"project_id":{"type":"string"},"agent_name":{"type":["string","null"]},"filename":{"type":"string"},"content_type":{"type":"string"},"size_bytes":{"type":"number"},"created_at":{"type":["string","null"],"format":"date-time"},"content":{"type":"string"}},"required":["id","project_id","agent_name","filename","content_type","size_bytes","created_at","content"],"additionalProperties":false}}}},"404":{"description":"Not found","content":{"application/json":{"schema":{"type":"object","properties":{"detail":{"type":"string"}},"required":["detail"],"additionalProperties":false}}}}}}},"/projects/{project_id}/artifacts/{artifact_id}":{"delete":{"operationId":"delete_project_artifact","tags":["Artifacts"],"summary":"Delete project artifact","description":"Deletes one uploaded project artifact.","parameters":[{"name":"project_id","in":"path","required":true,"description":"Project ID","schema":{"type":"string"}},{"name":"artifact_id","in":"path","required":true,"description":"Uploaded artifact ID","schema":{"type":"string"}}],"responses":{"204":{"description":"Uploaded text artifact deleted"},"404":{"description":"Not found","content":{"application/json":{"schema":{"type":"object","properties":{"detail":{"type":"string"}},"required":["detail"],"additionalProperties":false}}}}}}},"/traces":{"get":{"operationId":"list_traces","tags":["Traces"],"summary":"List traces","description":"Returns traces for a project.","parameters":[{"name":"project_id","in":"query","required":true,"description":"Project ID.","schema":{"type":"string"}},{"name":"start","in":"query","required":false,"description":"Start timestamp.","schema":{"type":"string"}},{"name":"end","in":"query","required":false,"description":"End timestamp.","schema":{"type":"string"}},{"name":"limit","in":"query","required":false,"description":"Maximum number of records to return.","schema":{"type":"integer","minimum":1}},{"name":"error_only","in":"query","required":false,"description":"Only return traces with errors.","schema":{"type":"boolean"}}],"responses":{"200":{"description":"Traces list","content":{"application/json":{"schema":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string"},"otel_trace_id":{"type":"string"},"project_id":{"type":"string"},"project_name":{"type":"string"},"service_name":{"type":["string","null"]},"created_at":{"type":"string","format":"date-time"},"issue_extraction":{"type":["object","null"],"properties":{"status":{"type":"string","enum":["running","completed","skipped","failed"]},"reason":{"type":["string","null"],"enum":["issues_found","no_issues_found","no_spans","unsupported_trace","error",null]},"issue_count":{"type":["number","null"]},"occurrence_count":{"type":["number","null"]},"completed_at":{"type":["string","null"],"format":"date-time"},"error_message":{"type":["string","null"]}},"required":["status","reason","issue_count","occurrence_count","completed_at"],"additionalProperties":false}},"required":["id","otel_trace_id","project_id","service_name","created_at","issue_extraction"],"additionalProperties":true}}}}},"400":{"description":"Bad request","content":{"application/json":{"schema":{"type":"object","properties":{"detail":{"type":"string"}},"required":["detail"],"additionalProperties":false}}}},"404":{"description":"Not found","content":{"application/json":{"schema":{"type":"object","properties":{"detail":{"type":"string"}},"required":["detail"],"additionalProperties":false}}}}}}},"/traces/dashboard":{"get":{"operationId":"list_dashboard_traces","tags":["Traces"],"summary":"List dashboard traces","description":"Returns dashboard-ready traces for a project.","parameters":[{"name":"project_id","in":"query","required":true,"description":"Project ID.","schema":{"type":"string"}},{"name":"limit","in":"query","required":false,"description":"Maximum number of records to return.","schema":{"type":"integer","minimum":1}},{"name":"cursor","in":"query","required":false,"description":"Pagination cursor.","schema":{"type":"string"}},{"name":"agent_name","in":"query","required":false,"description":"Agent name filter.","schema":{"type":"string"}},{"name":"sort","in":"query","required":false,"description":"Sort order.","schema":{"type":"string"}},{"name":"status","in":"query","required":false,"description":"failures (span errors), flagged (issue occurrences), or clean.","schema":{"type":"string"}},{"name":"min_spans","in":"query","required":false,"description":"Minimum span count.","schema":{"type":"string"}},{"name":"max_spans","in":"query","required":false,"description":"Maximum span count.","schema":{"type":"string"}},{"name":"min_duration_ms","in":"query","required":false,"description":"Minimum trace duration (ms).","schema":{"type":"string"}},{"name":"max_duration_ms","in":"query","required":false,"description":"Maximum trace duration (ms).","schema":{"type":"string"}},{"name":"min_tokens","in":"query","required":false,"description":"Minimum total (input + output) tokens.","schema":{"type":"string"}},{"name":"min_thread_traces","in":"query","required":false,"description":"Minimum number of traces in the session/thread.","schema":{"type":"string"}},{"name":"max_thread_traces","in":"query","required":false,"description":"Maximum number of traces in the session/thread.","schema":{"type":"string"}}],"responses":{"200":{"description":"Dashboard traces","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string"},"otel_trace_id":{"type":"string"},"project_id":{"type":"string"},"service_name":{"type":["string","null"]},"agent_name":{"type":["string","null"]},"thread_id":{"type":["string","null"]},"thread_trace_count":{"type":["number","null"]},"agent_input":{"type":"null"},"agent_input_display":{"type":["string","null"]},"agent_output":{"type":"null"},"has_error":{"type":"boolean"},"has_occurrences":{"type":"boolean"},"span_count":{"type":"number"},"total_duration_ms":{"type":["number","null"]},"created_at":{"type":"string"},"updated_at":{"type":"string"},"issue_extraction":{"type":["object","null"],"properties":{"status":{"type":"string","enum":["running","completed","skipped","failed"]},"reason":{"type":["string","null"],"enum":["issues_found","no_issues_found","no_spans","unsupported_trace","error",null]},"issue_count":{"type":["number","null"]},"occurrence_count":{"type":["number","null"]},"completed_at":{"type":["string","null"],"format":"date-time"},"error_message":{"type":["string","null"]}},"required":["status","reason","issue_count","occurrence_count","completed_at"],"additionalProperties":false}},"required":["id","otel_trace_id","project_id","service_name","agent_name","thread_id","thread_trace_count","agent_input_display","has_error","has_occurrences","span_count","total_duration_ms","created_at","updated_at","issue_extraction"],"additionalProperties":false}},"total":{"type":"number"},"next_cursor":{"type":["object","null"],"properties":{"created_at":{"type":"string"},"id":{"type":"string"},"span_count":{"type":"number"},"total_duration_ms":{"type":["number","null"]}},"required":["created_at","id"],"additionalProperties":false}},"required":["data","total","next_cursor"],"additionalProperties":false}}}},"400":{"description":"Bad request","content":{"application/json":{"schema":{"type":"object","properties":{"detail":{"type":"string"}},"required":["detail"],"additionalProperties":false}}}},"404":{"description":"Not found","content":{"application/json":{"schema":{"type":"object","properties":{"detail":{"type":"string"}},"required":["detail"],"additionalProperties":false}}}}}}},"/traces/search":{"get":{"operationId":"search_traces","tags":["Traces"],"summary":"Search traces","description":"Search traces with structural and behavioral filters.","parameters":[{"name":"project_id","in":"query","required":true,"description":"Project ID.","schema":{"type":"string"}},{"name":"query","in":"query","required":false,"description":"Search query.","schema":{"type":"string"}},{"name":"tool_name","in":"query","required":false,"description":"Tool name filter.","schema":{"type":"string"}},{"name":"model","in":"query","required":false,"description":"Model filter.","schema":{"type":"string"}},{"name":"agent_name","in":"query","required":false,"description":"Agent name filter.","schema":{"type":"string"}},{"name":"status","in":"query","required":false,"description":"Dashboard status filter.","schema":{"type":"string"}},{"name":"error_only","in":"query","required":false,"description":"Only return traces with errors.","schema":{"type":"boolean"}},{"name":"start","in":"query","required":false,"description":"Start timestamp.","schema":{"type":"string"}},{"name":"end","in":"query","required":false,"description":"End timestamp.","schema":{"type":"string"}},{"name":"min_spans","in":"query","required":false,"description":"Minimum span count.","schema":{"type":"string"}},{"name":"max_spans","in":"query","required":false,"description":"Maximum span count.","schema":{"type":"string"}},{"name":"min_duration_ms","in":"query","required":false,"description":"Minimum trace duration (ms).","schema":{"type":"string"}},{"name":"max_duration_ms","in":"query","required":false,"description":"Maximum trace duration (ms).","schema":{"type":"string"}},{"name":"min_tokens","in":"query","required":false,"description":"Minimum total token count.","schema":{"type":"string"}},{"name":"min_thread_traces","in":"query","required":false,"description":"Minimum thread trace count.","schema":{"type":"string"}},{"name":"max_thread_traces","in":"query","required":false,"description":"Maximum thread trace count.","schema":{"type":"string"}},{"name":"attribute_filters","in":"query","required":false,"description":"JSON-serialized span attribute filters.","schema":{"type":"string"}},{"name":"limit","in":"query","required":false,"description":"Maximum number of records to return.","schema":{"type":"integer","minimum":1}}],"responses":{"200":{"description":"Search results","content":{"application/json":{"schema":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string"},"otel_trace_id":{"type":"string"},"project_id":{"type":"string"},"service_name":{"type":["string","null"]},"created_at":{"type":"string","format":"date-time"},"issue_extraction":{"type":["object","null"],"properties":{"status":{"type":"string","enum":["running","completed","skipped","failed"]},"reason":{"type":["string","null"],"enum":["issues_found","no_issues_found","no_spans","unsupported_trace","error",null]},"issue_count":{"type":["number","null"]},"occurrence_count":{"type":["number","null"]},"completed_at":{"type":["string","null"],"format":"date-time"},"error_message":{"type":["string","null"]}},"required":["status","reason","issue_count","occurrence_count","completed_at"],"additionalProperties":false}},"required":["id","otel_trace_id","project_id","service_name","created_at","issue_extraction"],"additionalProperties":false}}}}},"400":{"description":"Bad request","content":{"application/json":{"schema":{"type":"object","properties":{"detail":{"type":"string"}},"required":["detail"],"additionalProperties":false}}}},"404":{"description":"Not found","content":{"application/json":{"schema":{"type":"object","properties":{"detail":{"type":"string"}},"required":["detail"],"additionalProperties":false}}}}}}},"/traces/semantic-search":{"get":{"operationId":"semantic_search_traces","tags":["Traces"],"summary":"Semantic search traces","description":"Search traces by semantic similarity over embedded trace summaries.","parameters":[{"name":"project_id","in":"query","required":true,"description":"Project ID.","schema":{"type":"string"}},{"name":"query","in":"query","required":false,"description":"Natural-language semantic search query.","schema":{"type":"string"}},{"name":"tool_name","in":"query","required":false,"description":"Tool name filter.","schema":{"type":"string"}},{"name":"model","in":"query","required":false,"description":"Model filter.","schema":{"type":"string"}},{"name":"error_only","in":"query","required":false,"description":"Only return traces with errors.","schema":{"type":"boolean"}},{"name":"start","in":"query","required":false,"description":"Start timestamp.","schema":{"type":"string"}},{"name":"end","in":"query","required":false,"description":"End timestamp.","schema":{"type":"string"}},{"name":"limit","in":"query","required":false,"description":"Maximum number of records to return.","schema":{"type":"integer","minimum":1}}],"responses":{"200":{"description":"Semantic search results","content":{"application/json":{"schema":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string"},"otel_trace_id":{"type":"string"},"project_id":{"type":"string"},"service_name":{"type":["string","null"]},"created_at":{"type":"string","format":"date-time"},"issue_extraction":{"type":["object","null"],"properties":{"status":{"type":"string","enum":["running","completed","skipped","failed"]},"reason":{"type":["string","null"],"enum":["issues_found","no_issues_found","no_spans","unsupported_trace","error",null]},"issue_count":{"type":["number","null"]},"occurrence_count":{"type":["number","null"]},"completed_at":{"type":["string","null"],"format":"date-time"},"error_message":{"type":["string","null"]}},"required":["status","reason","issue_count","occurrence_count","completed_at"],"additionalProperties":false},"summary":{"type":"string"},"similarity":{"type":"number"}},"required":["id","otel_trace_id","project_id","service_name","created_at","issue_extraction","summary","similarity"],"additionalProperties":false}}}}},"400":{"description":"Bad request","content":{"application/json":{"schema":{"type":"object","properties":{"detail":{"type":"string"}},"required":["detail"],"additionalProperties":false}}}},"404":{"description":"Not found","content":{"application/json":{"schema":{"type":"object","properties":{"detail":{"type":"string"}},"required":["detail"],"additionalProperties":false}}}}}}},"/traces/agent-names":{"get":{"operationId":"list_trace_agent_names","tags":["Traces"],"summary":"List trace agent names","description":"Returns agent names seen in project traces.","parameters":[{"name":"project_id","in":"query","required":true,"description":"Project ID.","schema":{"type":"string"}}],"responses":{"200":{"description":"Agent names","content":{"application/json":{"schema":{"type":"object","properties":{"agent_names":{"type":"array","items":{"type":"string"}}},"required":["agent_names"],"additionalProperties":false}}}},"400":{"description":"Bad request","content":{"application/json":{"schema":{"type":"object","properties":{"detail":{"type":"string"}},"required":["detail"],"additionalProperties":false}}}},"404":{"description":"Not found","content":{"application/json":{"schema":{"type":"object","properties":{"detail":{"type":"string"}},"required":["detail"],"additionalProperties":false}}}}}}},"/traces/has-ready":{"get":{"operationId":"has_ready_traces","tags":["Traces"],"summary":"Check ready traces","description":"Returns whether a project has ready traces.","parameters":[{"name":"project_id","in":"query","required":true,"description":"Project ID.","schema":{"type":"string"}}],"responses":{"200":{"description":"Ready traces flag","content":{"application/json":{"schema":{"type":"object","properties":{"has_ready_traces":{"type":"boolean"}},"required":["has_ready_traces"],"additionalProperties":false}}}},"400":{"description":"Bad request","content":{"application/json":{"schema":{"type":"object","properties":{"detail":{"type":"string"}},"required":["detail"],"additionalProperties":false}}}},"404":{"description":"Not found","content":{"application/json":{"schema":{"type":"object","properties":{"detail":{"type":"string"}},"required":["detail"],"additionalProperties":false}}}}}}},"/traces/ingest-status":{"get":{"operationId":"get_ingest_status","tags":["Traces"],"summary":"Check per-trace ingest status","description":"Returns enqueued (Redis index), ingested (ClickHouse traces row), ready (trace_stats), or not_found for a specific otel_trace_id.","parameters":[{"name":"project_id","in":"query","required":true,"description":"Project ID.","schema":{"type":"string"}},{"name":"otel_trace_id","in":"query","required":true,"description":"OTel / SDK trace id to look up.","schema":{"type":"string"}}],"responses":{"200":{"description":"Ingest status","content":{"application/json":{"schema":{"type":"object","properties":{"project_id":{"type":"string"},"otel_trace_id":{"type":"string"},"status":{"type":"string","enum":["enqueued","ingested","ready","not_found"]}},"required":["project_id","otel_trace_id","status"],"additionalProperties":false}}}},"400":{"description":"Bad request","content":{"application/json":{"schema":{"type":"object","properties":{"detail":{"type":"string"}},"required":["detail"],"additionalProperties":false}}}},"404":{"description":"Not found","content":{"application/json":{"schema":{"type":"object","properties":{"detail":{"type":"string"}},"required":["detail"],"additionalProperties":false}}}}}}},"/traces/bulk-delete":{"post":{"operationId":"delete_bulk_traces","tags":["Traces"],"summary":"Bulk delete traces","description":"Delete multiple traces for a project.","requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","required":["project_id","trace_ids"],"properties":{"project_id":{"type":"string"},"trace_ids":{"type":"array","items":{"type":"string"}},"traceIds":{"type":"array","items":{"type":"string"}}},"additionalProperties":false}}}},"responses":{"204":{"description":"Traces deleted"},"400":{"description":"Bad request","content":{"application/json":{"schema":{"type":"object","properties":{"detail":{"type":"string"}},"required":["detail"],"additionalProperties":false}}}},"404":{"description":"Not found","content":{"application/json":{"schema":{"type":"object","properties":{"detail":{"type":"string"}},"required":["detail"],"additionalProperties":false}}}}}}},"/traces/agent-names-by-ids":{"post":{"operationId":"get_trace_agent_names_by_ids","tags":["Traces"],"summary":"Get agent names by trace ids","description":"Returns a map of trace id to agent name (from ClickHouse trace_stats).","requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","required":["project_id","trace_ids"],"properties":{"project_id":{"type":"string"},"trace_ids":{"type":"array","items":{"type":"string"}}},"additionalProperties":false}}}},"responses":{"200":{"description":"Agent names","content":{"application/json":{"schema":{"type":"object","properties":{"agent_names":{"type":"array","items":{"type":"object","properties":{"trace_id":{"type":"string"},"agent_name":{"type":["string","null"]}},"required":["trace_id","agent_name"],"additionalProperties":false}}},"required":["agent_names"],"additionalProperties":false}}}},"400":{"description":"Bad request","content":{"application/json":{"schema":{"type":"object","properties":{"detail":{"type":"string"}},"required":["detail"],"additionalProperties":false}}}},"404":{"description":"Not found","content":{"application/json":{"schema":{"type":"object","properties":{"detail":{"type":"string"}},"required":["detail"],"additionalProperties":false}}}}}}},"/traces/by-run-id":{"get":{"operationId":"get_trace_by_run_id","tags":["Traces"],"summary":"Get trace by run id","description":"Resolves a trace from an agent run id.","parameters":[{"name":"run_id","in":"query","required":false,"description":"Agent run id.","schema":{"type":"string"}}],"responses":{"200":{"description":"Trace","content":{"application/json":{"schema":{"type":"object","properties":{"id":{"type":"string"},"project_id":{"type":"string"},"service_name":{"type":["string","null"]},"created_at":{"type":["string","null"],"format":"date-time"},"updated_at":{"type":["string","null"],"format":"date-time"},"otel_trace_id":{"type":"string"},"ready":{"type":"boolean"}},"required":["id","project_id","service_name","created_at","updated_at","otel_trace_id","ready"],"additionalProperties":true}}}},"400":{"description":"Bad request","content":{"application/json":{"schema":{"type":"object","properties":{"detail":{"type":"string"}},"required":["detail"],"additionalProperties":false}}}},"404":{"description":"Not found","content":{"application/json":{"schema":{"type":"object","properties":{"detail":{"type":"string"}},"required":["detail"],"additionalProperties":false}}}}}}},"/traces/{trace_id}/context":{"get":{"operationId":"get_trace_context","tags":["Traces"],"summary":"Get trace context bundle","description":"Returns the trace row, trace_stats row, ordered spans, and issue occurrences for chat/agent context.","parameters":[{"name":"trace_id","in":"path","required":true,"description":"Trace ID.","schema":{"type":"string"}},{"name":"project_id","in":"query","required":true,"description":"Project ID.","schema":{"type":"string"}}],"responses":{"200":{"description":"Trace context","content":{"application/json":{"schema":{"type":"object","properties":{"trace":{"type":"object","properties":{"id":{"type":"string"},"project_id":{"type":"string"},"service_name":{"type":["string","null"]},"created_at":{"type":["string","null"],"format":"date-time"},"updated_at":{"type":["string","null"],"format":"date-time"},"otel_trace_id":{"type":"string"},"ready":{"type":"boolean"}},"required":["id","project_id","service_name","created_at","updated_at","otel_trace_id","ready"],"additionalProperties":true},"stats":{"type":["object","null"],"additionalProperties":{}},"spans":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string"},"otel_span_id":{"type":"string"},"parent_otel_span_id":{"type":["string","null"]},"name":{"type":"string"},"kind":{"type":["string","null"]},"start_time_ns":{"type":["string","null"]},"end_time_ns":{"type":["string","null"]},"duration_ms":{"type":["number","null"]},"status_code":{"type":["string","null"]},"status_description":{"type":["string","null"]},"input_tokens":{"type":["number","null"]},"output_tokens":{"type":["number","null"]},"model_name":{"type":["string","null"]},"tps":{"type":["number","null"]},"attributes":{"type":"object","additionalProperties":{}},"events":{}},"required":["id","otel_span_id","parent_otel_span_id","name","kind","start_time_ns","end_time_ns","duration_ms","status_code","status_description","input_tokens","output_tokens","model_name","tps"],"additionalProperties":true}},"issue_occurrences":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string"},"trace_id":{"type":"string"},"issue_id":{"type":["string","null"]},"title":{"type":"string"},"rationale":{"type":"string"},"source_span_ids":{"type":"array","items":{"type":"string"}},"evidence_span_ids":{"type":"array","items":{"type":"string"}},"citations":{},"created_at":{"type":"string"},"issue":{"type":["object","null"],"properties":{"id":{"type":"string"},"name":{"type":"string"},"status":{"type":"string"},"category":{"type":["string","null"]},"agent_name":{"type":["string","null"]}},"required":["id","name","status","category","agent_name"]},"issue_name":{"type":"string"},"issue_category":{"type":["string","null"]}},"required":["id","title","rationale","source_span_ids","evidence_span_ids","created_at"],"additionalProperties":true}},"issue_extraction":{"type":["object","null"],"properties":{"status":{"type":"string","enum":["running","completed","skipped","failed"]},"reason":{"type":["string","null"],"enum":["issues_found","no_issues_found","no_spans","unsupported_trace","error",null]},"issue_count":{"type":["number","null"]},"occurrence_count":{"type":["number","null"]},"completed_at":{"type":["string","null"],"format":"date-time"},"error_message":{"type":["string","null"]}},"required":["status","reason","issue_count","occurrence_count","completed_at"],"additionalProperties":false}},"required":["trace","stats","spans","issue_occurrences","issue_extraction"],"additionalProperties":true}}}},"400":{"description":"Bad request","content":{"application/json":{"schema":{"type":"object","properties":{"detail":{"type":"string"}},"required":["detail"],"additionalProperties":false}}}},"404":{"description":"Not found","content":{"application/json":{"schema":{"type":"object","properties":{"detail":{"type":"string"}},"required":["detail"],"additionalProperties":false}}}}}}},"/traces/{trace_id}":{"get":{"operationId":"get_trace","tags":["Traces"],"summary":"Get trace","description":"Loads a single trace with spans and stats.","responses":{"200":{"description":"Trace details","content":{"application/json":{"schema":{"type":"object","properties":{"id":{"type":"string"},"otel_trace_id":{"type":"string"},"project_id":{"type":"string"},"project_name":{"type":"string"},"service_name":{"type":["string","null"]},"agent_name":{"type":["string","null"]},"thread_id":{"type":["string","null"]},"thread_trace_count":{"type":["number","null"]},"agent_input":{"type":"null"},"agent_input_display":{"type":["string","null"]},"agent_output":{"type":"null"},"has_error":{"type":"boolean"},"total_duration_ms":{"type":["number","null"]},"created_at":{"type":"string","format":"date-time"},"updated_at":{"type":"string"},"spans":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string"},"otel_span_id":{"type":"string"},"parent_otel_span_id":{"type":["string","null"]},"name":{"type":"string"},"kind":{"type":["string","null"]},"start_time_ns":{"type":["string","null"]},"end_time_ns":{"type":["string","null"]},"duration_ms":{"type":["number","null"]},"status_code":{"type":["string","null"]},"status_description":{"type":["string","null"]},"input_tokens":{"type":["number","null"]},"output_tokens":{"type":["number","null"]},"model_name":{"type":["string","null"]},"tps":{"type":["number","null"]},"attributes":{"type":"object","additionalProperties":{}},"events":{}},"required":["id","otel_span_id","parent_otel_span_id","name","kind","start_time_ns","end_time_ns","duration_ms","status_code","status_description","input_tokens","output_tokens","model_name","tps"],"additionalProperties":true}},"stats":{"type":"object","properties":{"span_count":{"type":"number"},"total_tokens":{"type":["number","null"]},"total_duration_ms":{"type":["number","null"]},"error_count":{"type":"number"},"tool_calls":{"type":"array","items":{"type":"object","properties":{"name":{"type":"string"},"otel_span_id":{"type":"string"},"status":{"type":["string","null"]}},"required":["name","otel_span_id","status"],"additionalProperties":true}},"models_used":{"type":"array","items":{"type":"string"}}},"required":["span_count","total_tokens","total_duration_ms","error_count","tool_calls","models_used"],"additionalProperties":true},"issue_extraction":{"type":["object","null"],"properties":{"status":{"type":"string","enum":["running","completed","skipped","failed"]},"reason":{"type":["string","null"],"enum":["issues_found","no_issues_found","no_spans","unsupported_trace","error",null]},"issue_count":{"type":["number","null"]},"occurrence_count":{"type":["number","null"]},"completed_at":{"type":["string","null"],"format":"date-time"},"error_message":{"type":["string","null"]}},"required":["status","reason","issue_count","occurrence_count","completed_at"],"additionalProperties":false}},"required":["id","otel_trace_id","project_id","service_name","agent_name","thread_id","thread_trace_count","agent_input_display","has_error","total_duration_ms","created_at","updated_at","spans","stats","issue_extraction"],"additionalProperties":true}}}},"404":{"description":"Not found","content":{"application/json":{"schema":{"type":"object","properties":{"detail":{"type":"string"}},"required":["detail"],"additionalProperties":false}}}}},"parameters":[{"schema":{"type":"string"},"in":"path","name":"trace_id","required":true}]},"delete":{"operationId":"delete_trace","tags":["Traces"],"summary":"Delete trace","description":"Delete a trace for a project.","parameters":[{"name":"trace_id","in":"path","required":true,"description":"Trace ID.","schema":{"type":"string"}},{"name":"project_id","in":"query","required":true,"description":"Project ID.","schema":{"type":"string"}}],"responses":{"204":{"description":"Trace deleted"},"400":{"description":"Bad request","content":{"application/json":{"schema":{"type":"object","properties":{"detail":{"type":"string"}},"required":["detail"],"additionalProperties":false}}}},"404":{"description":"Not found","content":{"application/json":{"schema":{"type":"object","properties":{"detail":{"type":"string"}},"required":["detail"],"additionalProperties":false}}}}}}},"/traces/{trace_id}/spans":{"get":{"operationId":"list_trace_spans","tags":["Traces"],"summary":"List trace spans","description":"Returns spans for a ready trace.","responses":{"200":{"description":"Trace spans","content":{"application/json":{"schema":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string"},"otel_span_id":{"type":"string"},"parent_otel_span_id":{"type":["string","null"]},"name":{"type":"string"},"kind":{"type":["string","null"]},"start_time_ns":{"type":["string","null"]},"end_time_ns":{"type":["string","null"]},"duration_ms":{"type":["number","null"]},"status_code":{"type":["string","null"]},"status_description":{"type":["string","null"]},"input_tokens":{"type":["number","null"]},"output_tokens":{"type":["number","null"]},"model_name":{"type":["string","null"]},"tps":{"type":["number","null"]},"attributes":{"type":"object","additionalProperties":{}},"events":{}},"required":["id","otel_span_id","parent_otel_span_id","name","kind","start_time_ns","end_time_ns","duration_ms","status_code","status_description","input_tokens","output_tokens","model_name","tps"],"additionalProperties":true}}}}},"404":{"description":"Not found","content":{"application/json":{"schema":{"type":"object","properties":{"detail":{"type":"string"}},"required":["detail"],"additionalProperties":false}}}}},"parameters":[{"schema":{"type":"string"},"in":"path","name":"trace_id","required":true}]}},"/traces/{trace_id}/thread-neighbors":{"get":{"operationId":"get_thread_trace_neighbors","tags":["Traces"],"summary":"Get thread trace neighbors","description":"Returns previous and next ready traces from the same thread.","responses":{"200":{"description":"Thread neighbors","content":{"application/json":{"schema":{"type":"object","properties":{"prev_trace_id":{"type":["string","null"]},"next_trace_id":{"type":["string","null"]}},"required":["prev_trace_id","next_trace_id"],"additionalProperties":false}}}},"404":{"description":"Not found","content":{"application/json":{"schema":{"type":"object","properties":{"detail":{"type":"string"}},"required":["detail"],"additionalProperties":false}}}}},"parameters":[{"schema":{"type":"string"},"in":"path","name":"trace_id","required":true}]}},"/traces/{trace_id}/thread":{"get":{"operationId":"get_thread_traces","tags":["Traces"],"summary":"List thread traces","description":"Returns every ready trace in the given trace's thread, enriched and ordered oldest first. Empty for standalone traces.","responses":{"200":{"description":"Thread traces","content":{"application/json":{"schema":{"type":"object","properties":{"thread_id":{"type":["string","null"]},"traces":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string"},"otel_trace_id":{"type":"string"},"project_id":{"type":"string"},"service_name":{"type":["string","null"]},"agent_name":{"type":["string","null"]},"thread_id":{"type":["string","null"]},"thread_trace_count":{"type":["number","null"]},"agent_input":{"type":"null"},"agent_input_display":{"type":["string","null"]},"agent_output":{"type":"null"},"has_error":{"type":"boolean"},"has_occurrences":{"type":"boolean"},"span_count":{"type":"number"},"total_duration_ms":{"type":["number","null"]},"created_at":{"type":"string"},"updated_at":{"type":"string"}},"required":["id","otel_trace_id","project_id","service_name","agent_name","thread_id","thread_trace_count","agent_input_display","has_error","has_occurrences","span_count","total_duration_ms","created_at","updated_at"],"additionalProperties":true}}},"required":["thread_id","traces"],"additionalProperties":false}}}},"404":{"description":"Not found","content":{"application/json":{"schema":{"type":"object","properties":{"detail":{"type":"string"}},"required":["detail"],"additionalProperties":false}}}}},"parameters":[{"schema":{"type":"string"},"in":"path","name":"trace_id","required":true}]}},"/traces/{trace_id}/issue_occurrences":{"get":{"operationId":"list_trace_issue_occurrences","tags":["Traces"],"summary":"List trace issue occurrences","description":"Returns issue occurrence evidence linked to a ready trace.","responses":{"200":{"description":"Issue occurrences","content":{"application/json":{"schema":{"type":"object","properties":{"issue_occurrences":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string"},"trace_id":{"type":"string"},"issue_id":{"type":["string","null"]},"title":{"type":"string"},"rationale":{"type":"string"},"source_span_ids":{"type":"array","items":{"type":"string"}},"evidence_span_ids":{"type":"array","items":{"type":"string"}},"citations":{},"created_at":{"type":"string"},"issue":{"type":["object","null"],"properties":{"id":{"type":"string"},"name":{"type":"string"},"status":{"type":"string"},"category":{"type":["string","null"]},"agent_name":{"type":["string","null"]}},"required":["id","name","status","category","agent_name"]},"issue_name":{"type":"string"},"issue_category":{"type":["string","null"]}},"required":["id","title","rationale","source_span_ids","evidence_span_ids","created_at"],"additionalProperties":true}}},"required":["issue_occurrences"],"additionalProperties":false}}}},"404":{"description":"Not found","content":{"application/json":{"schema":{"type":"object","properties":{"detail":{"type":"string"}},"required":["detail"],"additionalProperties":false}}}}},"parameters":[{"schema":{"type":"string"},"in":"path","name":"trace_id","required":true}]}},"/projects/{project_id}/thread-issue-summaries":{"post":{"operationId":"list_thread_issue_summaries","tags":["Traces"],"summary":"List thread issue summaries","description":"Batch-fetch issue extraction completion and destin issues for thread_ids (join key for eval trial_hash).","parameters":[{"name":"project_id","in":"path","required":true,"description":"Project ID.","schema":{"type":"string"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","required":["thread_ids"],"properties":{"thread_ids":{"type":"array","items":{"type":"string"}}},"additionalProperties":false}}}},"responses":{"200":{"description":"Thread issue summaries","content":{"application/json":{"schema":{"type":"object","properties":{"result":{"type":"array","items":{"type":"object","properties":{"thread_id":{"type":"string"},"trace_ids":{"type":"array","items":{"type":"string"}},"extraction":{"type":"object","properties":{"completed":{"type":"boolean"},"statuses":{"type":"array","items":{"type":"string","enum":["running","completed","skipped","failed"]}},"reasons":{"type":"array","items":{"type":"string","enum":["issues_found","no_issues_found","no_spans","unsupported_trace","error"]}}},"required":["completed","statuses","reasons"],"additionalProperties":false},"issues":{"type":"array","items":{"type":"object","properties":{"issue_id":{"type":["string","null"]},"title":{"type":"string"},"category":{"type":"string"},"rationale":{"type":"string"}},"required":["issue_id","title","category","rationale"],"additionalProperties":false}}},"required":["thread_id","trace_ids","extraction","issues"],"additionalProperties":false}}},"required":["result"],"additionalProperties":false}}}},"400":{"description":"Bad request","content":{"application/json":{"schema":{"type":"object","properties":{"detail":{"type":"string"}},"required":["detail"],"additionalProperties":false}}}},"404":{"description":"Not found","content":{"application/json":{"schema":{"type":"object","properties":{"detail":{"type":"string"}},"required":["detail"],"additionalProperties":false}}}}}}},"/issues":{"get":{"operationId":"list_issues","tags":["Issues"],"summary":"List issues","description":"List issues for a project.","parameters":[{"name":"project_id","in":"query","required":true,"description":"Project ID.","schema":{"type":"string"}},{"name":"status","in":"query","required":false,"description":"Issue status filter.","schema":{"type":"string"}},{"name":"limit","in":"query","required":false,"description":"Maximum number of records to return.","schema":{"type":"integer","minimum":1}},{"name":"offset","in":"query","required":false,"description":"Number of records to skip.","schema":{"type":"integer","minimum":0}}],"responses":{"200":{"description":"Issues list","content":{"application/json":{"schema":{"type":"object","properties":{"issues":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string"},"project_id":{"type":"string"},"agent_name":{"type":["string","null"]},"name":{"type":"string"},"subsystem":{"type":["string","null"]},"failure_class":{"type":["string","null"]},"canonical_mechanism":{"type":["string","null"]},"status":{"type":"string","enum":["open","closed"]},"created_at":{"type":["string","null"],"format":"date-time"},"updated_at":{"type":["string","null"],"format":"date-time"},"first_seen_at":{"type":["string","null"],"format":"date-time"},"last_seen_at":{"type":["string","null"],"format":"date-time"},"occurrence_count":{"type":"number"},"trace_count":{"type":"number"},"latest_close_feedback":{"type":["object","null"],"properties":{"id":{"type":"string"},"issue_id":{"type":"string"},"project_id":{"type":"string"},"user_id":{"type":["string","null"]},"api_key_id":{"type":["string","null"]},"action":{"type":"string","enum":["resolved","dismissed"]},"reason":{"type":["string","null"]},"detail":{"type":["string","null"]},"created_at":{"type":["string","null"],"format":"date-time"}},"required":["id","issue_id","project_id","user_id","api_key_id","action","reason","detail","created_at"],"additionalProperties":false},"linked_metric":{"type":["object","null"],"properties":{"id":{"type":"string"},"name":{"type":"string"}},"required":["id","name"],"additionalProperties":false},"validation":{"type":["object","null"],"properties":{"status":{"type":"string","enum":["valid","invalid","inconclusive","failed","not_run"]}},"required":["status"],"additionalProperties":false},"lane_scores":{"type":["object","null"],"properties":{"A":{"type":"number"},"B":{"type":"number"},"C":{"type":"number"}},"required":["A","B","C"],"additionalProperties":false},"raw_lane_scores":{"type":["object","null"],"properties":{"impact_occurrences":{"type":"number"},"impact_project_occurrences":{"type":"number"},"impact_project_traces":{"type":"number"},"impact_occurrence_share":{"type":"number"},"impact_affected_traces":{"type":"number"},"impact_trace_share":{"type":"number"},"impact_trace_share_lower":{"type":"number"},"impact_judged_traces":{"type":"number"},"spike_current":{"type":"number"},"spike_baseline":{"type":"number"},"spike_ratio":{"type":"number"},"spike_baseline_count":{"type":"number"},"spike_baseline_exposure":{"type":"number"},"spike_current_exposure":{"type":"number"},"persistence_span_days":{"type":"number"},"persistence_active_days":{"type":"number"},"resolution_floor":{"type":["number","null"]}},"required":["impact_occurrences","impact_project_occurrences","impact_project_traces","impact_occurrence_share","impact_affected_traces","impact_trace_share","impact_trace_share_lower","impact_judged_traces","spike_current","spike_baseline","spike_ratio","spike_baseline_count","spike_baseline_exposure","spike_current_exposure","persistence_span_days","persistence_active_days","resolution_floor"],"additionalProperties":false},"lanes_fired":{"type":["array","null"],"items":{"type":"string","enum":["A","B","C"]}},"metric_flags":{"type":"object","properties":{"impact":{"type":["boolean","null"]},"spike":{"type":["boolean","null"]},"persistence":{"type":["boolean","null"]}},"required":["impact","spike","persistence"],"additionalProperties":false},"fired_count":{"type":["number","null"]},"surface":{"type":["boolean","null"]},"notify":{"type":["boolean","null"]},"priority_computed_at":{"type":["string","null"],"format":"date-time"}},"required":["id","project_id","agent_name","name","subsystem","failure_class","canonical_mechanism","status","created_at","updated_at","first_seen_at","last_seen_at","occurrence_count","trace_count","latest_close_feedback","linked_metric","validation","lane_scores","raw_lane_scores","lanes_fired","metric_flags","fired_count","surface","notify","priority_computed_at"],"additionalProperties":false}},"total":{"type":"number"},"limit":{"type":"number"},"offset":{"type":"number"},"has_more":{"type":"boolean"}},"required":["issues","total","limit","offset","has_more"],"additionalProperties":false}}}},"400":{"description":"Bad request","content":{"application/json":{"schema":{"type":"object","properties":{"detail":{"type":"string"}},"required":["detail"],"additionalProperties":false}}}},"404":{"description":"Not found","content":{"application/json":{"schema":{"type":"object","properties":{"detail":{"type":"string"}},"required":["detail"],"additionalProperties":false}}}}}}},"/issues/dashboard":{"get":{"operationId":"list_dashboard_issues","tags":["Issues"],"summary":"List dashboard issues","description":"List dashboard-ready issues for a project.","parameters":[{"name":"project_id","in":"query","required":true,"description":"Project ID.","schema":{"type":"string"}}],"responses":{"200":{"description":"Dashboard issues","content":{"application/json":{"schema":{"type":"object","properties":{"issues":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string"},"name":{"type":"string"},"status":{"type":"string","enum":["open","closed"]},"agent_name":{"type":["string","null"]},"subsystem":{"type":["string","null"]},"failure_class":{"type":["string","null"]},"canonical_mechanism":{"type":["string","null"]},"first_seen_at":{"type":["string","null"],"format":"date-time"},"last_seen_at":{"type":["string","null"],"format":"date-time"},"occurrence_count":{"type":"number"},"trace_count":{"type":"number"},"latest_close_feedback":{"type":["object","null"],"properties":{"id":{"type":"string"},"issue_id":{"type":"string"},"project_id":{"type":"string"},"user_id":{"type":["string","null"]},"api_key_id":{"type":["string","null"]},"action":{"type":"string","enum":["resolved","dismissed"]},"reason":{"type":["string","null"]},"detail":{"type":["string","null"]},"created_at":{"type":["string","null"],"format":"date-time"}},"required":["id","issue_id","project_id","user_id","api_key_id","action","reason","detail","created_at"],"additionalProperties":false},"linked_metric":{"type":["object","null"],"properties":{"id":{"type":"string"},"name":{"type":"string"}},"required":["id","name"],"additionalProperties":false},"validation":{"type":["object","null"],"properties":{"status":{"type":"string","enum":["valid","invalid","inconclusive","failed","not_run"]}},"required":["status"],"additionalProperties":false},"lane_scores":{"type":["object","null"],"properties":{"A":{"type":"number"},"B":{"type":"number"},"C":{"type":"number"}},"required":["A","B","C"],"additionalProperties":false},"raw_lane_scores":{"type":["object","null"],"properties":{"impact_occurrences":{"type":"number"},"impact_project_occurrences":{"type":"number"},"impact_project_traces":{"type":"number"},"impact_occurrence_share":{"type":"number"},"impact_affected_traces":{"type":"number"},"impact_trace_share":{"type":"number"},"impact_trace_share_lower":{"type":"number"},"impact_judged_traces":{"type":"number"},"spike_current":{"type":"number"},"spike_baseline":{"type":"number"},"spike_ratio":{"type":"number"},"spike_baseline_count":{"type":"number"},"spike_baseline_exposure":{"type":"number"},"spike_current_exposure":{"type":"number"},"persistence_span_days":{"type":"number"},"persistence_active_days":{"type":"number"},"resolution_floor":{"type":["number","null"]}},"required":["impact_occurrences","impact_project_occurrences","impact_project_traces","impact_occurrence_share","impact_affected_traces","impact_trace_share","impact_trace_share_lower","impact_judged_traces","spike_current","spike_baseline","spike_ratio","spike_baseline_count","spike_baseline_exposure","spike_current_exposure","persistence_span_days","persistence_active_days","resolution_floor"],"additionalProperties":false},"lanes_fired":{"type":["array","null"],"items":{"type":"string","enum":["A","B","C"]}},"metric_flags":{"type":"object","properties":{"impact":{"type":["boolean","null"]},"spike":{"type":["boolean","null"]},"persistence":{"type":["boolean","null"]}},"required":["impact","spike","persistence"],"additionalProperties":false},"fired_count":{"type":["number","null"]},"surface":{"type":["boolean","null"]},"notify":{"type":["boolean","null"]},"priority_computed_at":{"type":["string","null"],"format":"date-time"}},"required":["id","name","status","agent_name","subsystem","failure_class","canonical_mechanism","first_seen_at","last_seen_at","occurrence_count","trace_count","latest_close_feedback","linked_metric","validation","lane_scores","raw_lane_scores","lanes_fired","metric_flags","fired_count","surface","notify","priority_computed_at"],"additionalProperties":false}}},"required":["issues"],"additionalProperties":false}}}},"400":{"description":"Bad request","content":{"application/json":{"schema":{"type":"object","properties":{"detail":{"type":"string"}},"required":["detail"],"additionalProperties":false}}}},"404":{"description":"Not found","content":{"application/json":{"schema":{"type":"object","properties":{"detail":{"type":"string"}},"required":["detail"],"additionalProperties":false}}}}}}},"/issues/{issue_id}":{"get":{"operationId":"get_issue","tags":["Issues"],"summary":"Get issue","description":"Get a single issue. The validation field is null when no validation row exists; when present it contains status, confidence, evidenceSummary, checkedTools, caveats, and validatedAt.","parameters":[{"name":"issue_id","in":"path","required":true,"description":"Issue ID.","schema":{"type":"string"}}],"responses":{"200":{"description":"Issue","content":{"application/json":{"schema":{"type":"object","properties":{"id":{"type":"string"},"project_id":{"type":"string"},"agent_name":{"type":["string","null"]},"name":{"type":"string"},"subsystem":{"type":["string","null"]},"failure_class":{"type":["string","null"]},"canonical_mechanism":{"type":["string","null"]},"status":{"type":"string","enum":["open","closed"]},"created_at":{"type":["string","null"],"format":"date-time"},"updated_at":{"type":["string","null"],"format":"date-time"},"latest_close_feedback":{"type":["object","null"],"properties":{"id":{"type":"string"},"issue_id":{"type":"string"},"project_id":{"type":"string"},"user_id":{"type":["string","null"]},"api_key_id":{"type":["string","null"]},"action":{"type":"string","enum":["resolved","dismissed"]},"reason":{"type":["string","null"]},"detail":{"type":["string","null"]},"created_at":{"type":["string","null"],"format":"date-time"}},"required":["id","issue_id","project_id","user_id","api_key_id","action","reason","detail","created_at"],"additionalProperties":false},"linked_metric":{"type":["object","null"],"properties":{"id":{"type":"string"},"name":{"type":"string"}},"required":["id","name"],"additionalProperties":false},"validation":{"type":["object","null"],"properties":{"status":{"type":"string","enum":["valid","invalid","inconclusive","failed","not_run"]},"confidence":{"type":["number","null"]},"evidenceSummary":{"type":["string","null"]},"checkedTools":{"type":"array","items":{"type":"string"}},"caveats":{"type":["string","null"]},"validatedAt":{"type":["string","null"],"format":"date-time"}},"required":["status","confidence","evidenceSummary","checkedTools","caveats","validatedAt"],"additionalProperties":false},"lane_scores":{"type":["object","null"],"properties":{"A":{"type":"number"},"B":{"type":"number"},"C":{"type":"number"}},"required":["A","B","C"],"additionalProperties":false},"raw_lane_scores":{"type":["object","null"],"properties":{"impact_occurrences":{"type":"number"},"impact_project_occurrences":{"type":"number"},"impact_project_traces":{"type":"number"},"impact_occurrence_share":{"type":"number"},"impact_affected_traces":{"type":"number"},"impact_trace_share":{"type":"number"},"impact_trace_share_lower":{"type":"number"},"impact_judged_traces":{"type":"number"},"spike_current":{"type":"number"},"spike_baseline":{"type":"number"},"spike_ratio":{"type":"number"},"spike_baseline_count":{"type":"number"},"spike_baseline_exposure":{"type":"number"},"spike_current_exposure":{"type":"number"},"persistence_span_days":{"type":"number"},"persistence_active_days":{"type":"number"},"resolution_floor":{"type":["number","null"]}},"required":["impact_occurrences","impact_project_occurrences","impact_project_traces","impact_occurrence_share","impact_affected_traces","impact_trace_share","impact_trace_share_lower","impact_judged_traces","spike_current","spike_baseline","spike_ratio","spike_baseline_count","spike_baseline_exposure","spike_current_exposure","persistence_span_days","persistence_active_days","resolution_floor"],"additionalProperties":false},"lanes_fired":{"type":["array","null"],"items":{"type":"string","enum":["A","B","C"]}},"metric_flags":{"type":"object","properties":{"impact":{"type":["boolean","null"]},"spike":{"type":["boolean","null"]},"persistence":{"type":["boolean","null"]}},"required":["impact","spike","persistence"],"additionalProperties":false},"fired_count":{"type":["number","null"]},"surface":{"type":["boolean","null"]},"notify":{"type":["boolean","null"]},"priority_computed_at":{"type":["string","null"],"format":"date-time"}},"required":["id","project_id","agent_name","name","subsystem","failure_class","canonical_mechanism","status","created_at","updated_at","latest_close_feedback","linked_metric","validation","lane_scores","raw_lane_scores","lanes_fired","metric_flags","fired_count","surface","notify","priority_computed_at"],"additionalProperties":false}}}},"404":{"description":"Not found","content":{"application/json":{"schema":{"type":"object","properties":{"detail":{"type":"string"}},"required":["detail"],"additionalProperties":false}}}}}},"patch":{"operationId":"set_issue_status","tags":["Issues"],"summary":"Set issue status","description":"Update issue lifecycle status. Resolved and dismissed close the issue and append close feedback.","parameters":[{"name":"issue_id","in":"path","required":true,"description":"Issue ID.","schema":{"type":"string"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","required":["status"],"properties":{"status":{"type":"string","enum":["open","resolved","dismissed"]},"reason":{"type":"string","enum":["False positive","Working as intended","Test or synthetic traffic","Acceptable edge case","Known limitation","Out of scope"],"description":"Accepted values: False positive, Working as intended, Test or synthetic traffic, Acceptable edge case, Known limitation, Out of scope"},"detail":{"type":"string"}},"additionalProperties":false}}}},"responses":{"204":{"description":"Issue status updated"},"400":{"description":"Bad request","content":{"application/json":{"schema":{"type":"object","properties":{"detail":{"type":"string"}},"required":["detail"],"additionalProperties":false}}}},"404":{"description":"Not found","content":{"application/json":{"schema":{"type":"object","properties":{"detail":{"type":"string"}},"required":["detail"],"additionalProperties":false}}}}}}},"/issues/{issue_id}/metric-series":{"get":{"operationId":"get_issue_metric_series","tags":["Issues"],"summary":"Get issue metric series","description":"Returns zero-filled daily occurrence buckets for an issue over the last 30 days.","parameters":[{"name":"issue_id","in":"path","required":true,"description":"Issue ID.","schema":{"type":"string"}},{"name":"project_id","in":"query","required":true,"description":"Project ID.","schema":{"type":"string"}},{"name":"as_of","in":"query","required":false,"description":"As-of timestamp (ISO-8601) for the 30-day window.","schema":{"type":"string"}}],"responses":{"200":{"description":"Issue metric series","content":{"application/json":{"schema":{"type":"object","properties":{"issue_id":{"type":"string"},"project_id":{"type":"string"},"points":{"type":"array","items":{"type":"object","properties":{"date":{"type":"string"},"occurrences":{"type":"number"},"estimated_occurrences":{"type":"number"},"estimated_occurrences_variance":{"type":"number"},"occurred":{"type":"boolean"}},"required":["date","occurrences","estimated_occurrences","estimated_occurrences_variance","occurred"],"additionalProperties":false}},"baseline_mean":{"type":"number"},"band_low":{"type":"number"},"band_high":{"type":"number"},"estimated_baseline_mean":{"type":"number"},"estimated_band_high":{"type":"number"}},"required":["issue_id","project_id","points","baseline_mean","band_low","band_high","estimated_baseline_mean","estimated_band_high"],"additionalProperties":false}}}},"400":{"description":"Bad request","content":{"application/json":{"schema":{"type":"object","properties":{"detail":{"type":"string"}},"required":["detail"],"additionalProperties":false}}}},"404":{"description":"Not found","content":{"application/json":{"schema":{"type":"object","properties":{"detail":{"type":"string"}},"required":["detail"],"additionalProperties":false}}}}}}},"/issues/{issue_id}/artifact-context":{"get":{"operationId":"get_issue_artifact_context","tags":["Issues"],"summary":"Get issue artifact context","description":"Returns bounded learn-agent and uploaded text artifact context for validation and debugging.","parameters":[{"name":"issue_id","in":"path","required":true,"description":"Issue ID.","schema":{"type":"string"}}],"responses":{"200":{"description":"Issue artifact context","content":{"application/json":{"schema":{"type":"object","properties":{"issue_id":{"type":"string"},"project_id":{"type":"string"},"agent_name":{"type":["string","null"]},"available":{"type":"object","properties":{"learn_agent_kb":{"type":"boolean"},"uploaded_text_artifacts":{"type":"boolean"}},"required":["learn_agent_kb","uploaded_text_artifacts"],"additionalProperties":false},"missing":{"type":"array","items":{"type":"string"}},"learn_agent_kb":{"type":["object","null"],"properties":{"version":{"type":"number"},"agent_name":{"type":["string","null"]},"knowledge_preview":{"type":"string"},"mermaid_preview":{"type":"string"},"knowledge_truncated":{"type":"boolean"},"mermaid_truncated":{"type":"boolean"}},"required":["version","agent_name","knowledge_preview","mermaid_preview","knowledge_truncated","mermaid_truncated"],"additionalProperties":false},"uploaded_text_artifacts":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string"},"filename":{"type":"string"},"content_type":{"type":"string"},"size_bytes":{"type":"number"},"content_preview":{"type":"string"},"preview_truncated":{"type":"boolean"}},"required":["id","filename","content_type","size_bytes","content_preview","preview_truncated"],"additionalProperties":false}},"caveats":{"type":"array","items":{"type":"string"}}},"required":["issue_id","project_id","agent_name","available","missing","learn_agent_kb","uploaded_text_artifacts","caveats"],"additionalProperties":false}}}},"404":{"description":"Not found","content":{"application/json":{"schema":{"type":"object","properties":{"detail":{"type":"string"}},"required":["detail"],"additionalProperties":false}}}}}}},"/issues/{issue_id}/occurrences":{"get":{"operationId":"list_issue_occurrences","tags":["Issues"],"summary":"List issue occurrences","description":"List occurrences for an issue.","parameters":[{"name":"issue_id","in":"path","required":true,"description":"Issue ID.","schema":{"type":"string"}},{"name":"limit","in":"query","required":false,"description":"Maximum number of records to return.","schema":{"type":"integer","minimum":1}},{"name":"offset","in":"query","required":false,"description":"Number of records to skip.","schema":{"type":"integer","minimum":0}}],"responses":{"200":{"description":"Issue occurrences","content":{"application/json":{"schema":{"type":"object","properties":{"occurrences":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string"},"trace_id":{"type":"string"},"issue_id":{"type":["string","null"]},"title":{"type":"string"},"rationale":{"type":"string"},"source_span_ids":{"type":"array","items":{"type":"string"}},"evidence_span_ids":{"type":"array","items":{"type":"string"}},"citations":{},"created_at":{"type":["string","null"],"format":"date-time"},"trace":{"type":["object","null"],"properties":{"id":{"type":"string"},"otel_trace_id":{"type":["string","null"]},"project_id":{"type":"string"},"service_name":{"type":["string","null"]},"created_at":{"type":["string","null"],"format":"date-time"},"thread_id":{"type":["string","null"]}},"required":["id","otel_trace_id","project_id","service_name","created_at","thread_id"],"additionalProperties":false}},"required":["id","trace_id","issue_id","title","rationale","source_span_ids","evidence_span_ids","created_at","trace"],"additionalProperties":false}},"total":{"type":"number"},"limit":{"type":"number"},"offset":{"type":"number"},"has_more":{"type":"boolean"}},"required":["occurrences","total","limit","offset","has_more"],"additionalProperties":false}}}},"400":{"description":"Bad request","content":{"application/json":{"schema":{"type":"object","properties":{"detail":{"type":"string"}},"required":["detail"],"additionalProperties":false}}}},"404":{"description":"Not found","content":{"application/json":{"schema":{"type":"object","properties":{"detail":{"type":"string"}},"required":["detail"],"additionalProperties":false}}}}}}},"/issues/{issue_id}/chat-context":{"get":{"operationId":"get_issue_chat_context","tags":["Issues"],"summary":"Get issue chat context","description":"Returns the issue, recent occurrences, aggregate stats, and per-trace bundles (trace row + trace_stats + spans) for issue chat.","parameters":[{"name":"issue_id","in":"path","required":true,"description":"Issue ID.","schema":{"type":"string"}},{"name":"project_id","in":"query","required":true,"description":"Project ID.","schema":{"type":"string"}}],"responses":{"200":{"description":"Issue chat context","content":{"application/json":{"schema":{"type":"object","properties":{"issue":{"type":"object","properties":{"id":{"type":"string"},"project_id":{"type":"string"},"agent_name":{"type":["string","null"]},"name":{"type":"string"},"subsystem":{"type":["string","null"]},"failure_class":{"type":["string","null"]},"canonical_mechanism":{"type":["string","null"]},"status":{"type":"string","enum":["open","closed"]},"created_at":{"type":["string","null"],"format":"date-time"},"updated_at":{"type":["string","null"],"format":"date-time"}},"required":["id","project_id","agent_name","name","subsystem","failure_class","canonical_mechanism","status","created_at","updated_at"],"additionalProperties":true},"occurrences":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string"},"trace_id":{"type":"string"},"issue_id":{"type":["string","null"]},"title":{"type":"string"},"rationale":{"type":"string"},"source_span_ids":{"type":"array","items":{"type":"string"}},"evidence_span_ids":{"type":"array","items":{"type":"string"}},"citations":{},"category":{"type":["string","null"]},"created_at":{"type":["string","null"],"format":"date-time"}},"required":["id","trace_id","issue_id","title","rationale"],"additionalProperties":true}},"traces":{"type":"array","items":{"type":"object","properties":{"trace":{"type":"object","properties":{"id":{"type":"string"},"project_id":{"type":"string"},"service_name":{"type":["string","null"]},"created_at":{"type":["string","null"],"format":"date-time"},"updated_at":{"type":["string","null"],"format":"date-time"},"otel_trace_id":{"type":"string"},"ready":{"type":"boolean"}},"required":["id","project_id","service_name","created_at","updated_at","otel_trace_id","ready"],"additionalProperties":true},"stats":{"type":["object","null"],"additionalProperties":{}},"spans":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string"},"otel_span_id":{"type":"string"},"parent_otel_span_id":{"type":["string","null"]},"name":{"type":"string"},"kind":{"type":["string","null"]},"start_time_ns":{"type":["string","null"]},"end_time_ns":{"type":["string","null"]},"duration_ms":{"type":["number","null"]},"status_code":{"type":["string","null"]},"status_description":{"type":["string","null"]},"input_tokens":{"type":["number","null"]},"output_tokens":{"type":["number","null"]},"model_name":{"type":["string","null"]},"tps":{"type":["number","null"]},"attributes":{"type":"object","additionalProperties":{}},"events":{}},"required":["id","otel_span_id","parent_otel_span_id","name","kind","start_time_ns","end_time_ns","duration_ms","status_code","status_description","input_tokens","output_tokens","model_name","tps"],"additionalProperties":true}}},"required":["trace","stats","spans"],"additionalProperties":true}},"stats":{"type":"object","properties":{"first_seen_at":{"type":["string","null"],"format":"date-time"},"last_seen_at":{"type":["string","null"],"format":"date-time"},"occurrence_count":{"type":"number"},"trace_count":{"type":"number"}},"required":["first_seen_at","last_seen_at","occurrence_count","trace_count"],"additionalProperties":false}},"required":["issue","occurrences","traces","stats"],"additionalProperties":false}}}},"400":{"description":"Bad request","content":{"application/json":{"schema":{"type":"object","properties":{"detail":{"type":"string"}},"required":["detail"],"additionalProperties":false}}}},"404":{"description":"Not found","content":{"application/json":{"schema":{"type":"object","properties":{"detail":{"type":"string"}},"required":["detail"],"additionalProperties":false}}}}}}},"/issues/{issue_id}/markdown":{"get":{"operationId":"get_issue_markdown","tags":["Issues"],"summary":"Get issue markdown","description":"Build markdown for an issue.","parameters":[{"name":"issue_id","in":"path","required":true,"description":"Issue ID.","schema":{"type":"string"}},{"name":"project_id","in":"query","required":true,"description":"Project ID.","schema":{"type":"string"}}],"responses":{"200":{"description":"Issue markdown","content":{"application/json":{"schema":{"type":"object","properties":{"markdown":{"type":"string"}},"required":["markdown"],"additionalProperties":false}}}},"400":{"description":"Bad request","content":{"application/json":{"schema":{"type":"object","properties":{"detail":{"type":"string"}},"required":["detail"],"additionalProperties":false}}}},"404":{"description":"Not found","content":{"application/json":{"schema":{"type":"object","properties":{"detail":{"type":"string"}},"required":["detail"],"additionalProperties":false}}}}}}}}}